
.app {
  display: flex;
  justify-content: center;
  font-family: "Montserrat";
  background-color: rgb(229, 242, 247);
  width: 100%;
  min-height: 100vh;
  height: 100%;
 

}

h1 {
  font-size: 66px;
  color: rgb(23, 23, 3)
}

button {
  background-color: white;
  height: 10vh;
  width: 25vh;
  border-radius: 20px;
  margin: 30px 30px 30px 30px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button:focus {
  background-color: rgb(219, 237, 255);
}

input {
  background-color: white;
  height: 10vh;
  width: auto;
  border-radius: 20px;
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.select {
  display: flex;
  justify-content: center;
  text-align: center;
 
}



.game {
  display: flex;
  justify-content: center;
}

.base {
  width: 100%;
  text-align: center;
  transition: 1.5s;
}

.colorBox {
  
 
  font-size: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.howTo {
 text-align: center;
}
.winModal {
  display: flex;
  justify-content: center;
  padding: 20px;
  
}
.win {
  background-color: gold;
  width: 50vh;
  border-radius: 20px;
}

.info {
  padding: 10px;
 
}

.home {
  display: flex;
}

.left {

  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.left img {
  transform: scale(0.9);
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 5s;
}

.left img:hover {
  transform: scale(1);
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.restart {
  font-size: 15px;
  transition: font-size 0.3s;
}
.restart:hover {
  font-size: 20px;
  cursor: pointer;
}